<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>
  <div class="mycont" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../../assets/images/partnership-iot.webp" class="imag" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About KORE</h1><br>
      <h5 class="w3-center">The Future of IoT</h5>
      <p class="w3-large">KORE is the world’s largest managed IoT network services
        provider.
        KORE provides the people, expertise and technology to support the many
        visions of the IoT, from the Inspiration of Things to the Innovation of
        Things to the Internet of Things. Founded in 2003, KORE quickly rose to
        become the world’s largest managed network services provider specializing in
        Internet of Things (IoT) and Machine to Machine (M2M) communications. Today,
        KORE is a global leader in software service and platforms that power the IoT,
        with millions of active on-network units. KORE is the brand powering other
        leading brands, including some of the world’s largest enterprise customers.
        KORE’s singular customer-centric focus is to identify and develop solutions
        that help clients realize IoT innovations and accelerate time-to-market
        schedules. KORE has over 380 people who serve customers in 110 countries,
        empowering new business models and
        opportunities to monetize the IoT. KORE: the people powering IoT </p>
      <p class="w3-large w3-text-grey w3-hide-medium"></p>
    </div>
  </div>


</body>
</html>
