<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="main-container"></div>
  <div class="nav-container-fluid">
    <header>
      <div>
        <nav>
          <ul>
            <li><a routerLink="HOME" style="float: left;"><img src="../../assets/images/kore-logo.png" alt="" class="mainlogo"></a>
            </li>
            <li><a routerLink="HOME">HOME</a></li>
            <li><a routerLink="ABOUT">ABOUT</a></li>
            <li><a routerLink="CONTACT">CONTACT</a></li>
            <li><a routerLink="SERVICES">SERVICES</a></li>
            <li><span class="about"><input class="placehold" type="text" name="search" id="srch"
                  placeholder="Enter text here">
                <input class="searchitem" type="submit" name="click" id="search" value="Search">
              </span>
            </li>
          </ul>

        </nav>

        <a routerLink="HOME" class="signout">Sign out</a>
      </div>
    </header>
  </div>
  <div class="component-container-">
    <router-outlet></router-outlet>
    <!-- <app-index></app-index> <br>
    <app-about></app-about> <br>
    <app-contact></app-contact>
    <app-services></app-services> -->
  </div>

</body>

</html>
