body {
  background-image: url("../../assets/images/2110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin-top: 10px;
  margin-right: 0px;
}
.contain{
  padding-top: 100px;
  padding-bottom: 0%;
}
